body {
	min-width: 900px;
	font-family: 'Bowlby One SC', arial;
	color: #fff;
	background-color: #222; 
	text-align:center; 
	padding-top: 20px; 
}

canvas { 
	margin-left:auto; 
	margin-right: auto; 
	border: 10px solid #333; 
}

#splashscreen { 
	width: 900px; 
	height: 450px;
	text-align: center; 
	margin-left: auto; 
	margin-right: auto; 
	border: 10px solid #333; 
	position:relative;
}

#credits {
	width: 900px; 
	height: 450px;
	text-align: center; 
	margin-left: auto; 
	margin-right: auto; 
	border: 10px solid #333; 
}

.back {
	width: 100px;
	height: 30px;
	top: -60px;
	left: 0px;
	position: relative;
}

/************************** Menu **************************/
#controls {
	margin-top: 10px;
	font-family: 'Shadows Into Light Two', arial;
}

#play-button {
	background: url('../images/playgame.png');
	width: 224px;
	height: 50px;
	top: 200px;
	left: 340px;
	position: absolute;
}

#play-button:hover, #play-button:active {
	background: url('../images/playgame-hover.png');
}

#credits-button {
	background-color: red;
	background: url('../images/credits.png');
	width: 224px;
	height: 47px;
	top: 270px;
	left: 340px;
	position: absolute;
}

#credits-button:hover, #credits-button:active {
	background: url('../images/credits-hover.png');
}

.sharing {
	font-family: 'Shadows Into Light Two', arial;
	text-transform: uppercase;
	margin-top:20px;
}

